In [155]:
import pandas as pd
import pylab as pl
import numpy as np
import re
import csv as csv

In [156]:
i_data_GR = csv.reader(open("/Users/yzw/Desktop/ml/ps2/credit-data.csv"))

In [157]:
data = []

for row in i_data_GR:
  data.append(row)

Header_G = data[0]

In [158]:
print (pd.DataFrame(data))

              0                 1                                     2    3   \
0       PersonID  SeriousDlqin2yrs  RevolvingUtilizationOfUnsecuredLines  age
1              1                 1                           0.766126609   45
2              2                 0                           0.957151019   40
3              3                 0                            0.65818014   38
4              4                 0                           0.233809776   30
5              5                 0                             0.9072394   49
6              6                 0                           0.213178682   74
7              7                 0                           0.305682465   57
8              8                 0                           0.754463648   39
9              9                 0                           0.116950644   27
10            10                 0                           0.189169052   57
11            11                 0                           0.644225962   30
12            12                 0                            0.01879812   51
13            13                 0                           0.010351857   46
14            14                 1                           0.964672555   40
15            15                 0                           0.019656581   76
16            16                 0                           0.548458062   64
17            17                 0                           0.061086118   78
18            18                 0                           0.166284079   53
19            19                 0                           0.221812771   43
20            20                 0                           0.602794411   25
21            21                 0                           0.200923382   43
22            22                 1                           0.025655677   38
23            23                 0                             0.9999999   39
24            24                 0                           0.075426584   32
25            25                 0                            0.04656027   58
26            26                 1                           0.392248482   50
27            27                 0                           0.052436094   58
28            28                 0                           0.034421473   69
29            29                 0                           0.452515828   24
...          ...               ...                                   ...  ...
149971    149971                 0                           0.025449081   58
149972    149972                 0                           0.058000533   83
149973    149973                 0                           0.071273404   42
149974    149974                 0                           1.026394721   44
149975    149975                 0                           0.962721342   61
149976    149976                 0                           0.022088398   58
149977    149977                 0                           0.000627439   76
149978    149978                 0                           0.236449864   29
149979    149979                 0                           0.917635296   52
149980    149980                 1                           0.224710924   55
149981    149981                 0                           0.067643815   64
149982    149982                 0                           0.810012257   43
149983    149983                 0                           0.021046019   37
149984    149984                 0                           0.002484811   82
149985    149985                 0                           0.037548123   84
149986    149986                 0                           0.954409118   26
149987    149987                 0                           0.168101659   49
149988    149988                 0                             0.9999999   28
149989    149989                 0                           0.902050553   31
149990    149990                 0                           0.013355707   62
149991    149991                 0                           0.055518163   46
149992    149992                 0                             0.1041117   59
149993    149993                 0                           0.871975945   50
149994    149994                 0                             0.9999999   22
149995    149995                 0                           0.385742265   50
149996    149996                 0                           0.040673864   74
149997    149997                 0                           0.299745148   44
149998    149998                 0                           0.246043918   58
149999    149999                 0                                     0   30
150000    150000                 0                           0.850282951   64

             4                                     5            6   \
0       zipcode  NumberOfTime30-59DaysPastDueNotWorse    DebtRatio
1         60644                                     2  0.802982129
2         60637                                     0  0.121876201
3         60601                                     1  0.085113375
4         60601                                     0  0.036049682
5         60625                                     1  0.024925695
6         60629                                     0  0.375606969
7         60637                                     0         5710
8         60625                                     0  0.209940017
9         60804                                     0           46
10        60629                                     0  0.606290901
11        60637                                     0   0.30947621
12        60804                                     0   0.53152876
13        60644                                     0  0.298354075
14        60804                                     3  0.382964747
15        60657                                     0          477
16        60629                                     0  0.209891754
17        60601                                     0         2058
18        60644                                     0   0.18827406
19        60601                                     0  0.527887839
20        60657                                     0  0.065868263
21        60625                                     0  0.430046338
22        60629                                     0  0.475841386
23        60601                                     0  0.241103559
24        60629                                     0  0.085512189
25        60657                                     0  0.241621845
26        60618                                     0  1.595253368
27        60601                                     0  0.097672186
28        60644                                     0  0.042383047
29        60657                                     0  0.011761247
...         ...                                   ...          ...
149971    60625                                     0   0.25385459
149972    60637                                     0  0.013997201
149973    60644                                     0  0.008638065
149974    60618                                     0  0.494819124
149975    60804                                     2  0.603479304
149976    60618                                     0         2716
149977    60637                                     0           60
149978    60601                                     0          349
149979    60625                                     2  0.259496202
149980    60804                                     0  0.057234801
149981    60657                                     0  0.254976475
149982    60601                                     0  0.121751825
149983    60804                                     0  0.250271641
149984    60629                                     0   0.00079984
149985    60629                                     0           25
149986    60637                                     0  0.324961558
149987    60644                                     0  0.080383923
149988    60625                                     0  0.055692308
149989    60657                                     1  0.347924428
149990    60625                                     0  0.001407841
149991    60618                                     0  0.609778598
149992    60601                                     0  0.477658234
149993    60618                                     0         4132
149994    60625                                     0            0
149995    60625                                     0  0.404292855
149996    60637                                     0   0.22513089
149997    60625                                     0   0.71656222
149998    60625                                     0         3870
149999    60625                                     0            0
150000    60657                                     0  0.249908077

                   7                                8   \
0       MonthlyIncome  NumberOfOpenCreditLinesAndLoans
1                9120                               13
2                2600                                4
3                3042                                2
4                3300                                5
5               63588                                7
6                3500                                3
7                  NA                                8
8                3500                                8
9                  NA                                2
10              23684                                9
11               2500                                5
12               6501                                7
13              12454                               13
14              13700                                9
15                  0                                6
16              11362                                7
17                 NA                               10
18               8800                                7
19               3280                                7
20                333                                2
21              12300                               10
22               3000                                7
23               2500                                4
24               7916                                6
25               2416                                9
26               4676                               14
27               8333                               22
28               2500                               17
29               3400                                1
...               ...                              ...
149971          15500                                7
149972           5000                                6
149973           6945                                3
149974           5500                                7
149975           5000                               11
149976             NA                                8
149977             NA                                5
149978             NA                                3
149979           2500                                4
149980           8700                                7
149981           5525                               12
149982           6849                                4
149983           2760                                8
149984           5000                                5
149985             NA                                5
149986           1950                                4
149987           5000                               16
149988           3249                                3
149989           7515                               10
149990           9233                                4
149991           4335                                7
149992          10316                               10
149993             NA                               11
149994            820                                1
149995           3400                                7
149996           2100                                4
149997           5584                                4
149998             NA                               18
149999           5716                                4
150000           8158                                8

                             9                             10  \
0       NumberOfTimes90DaysLate  NumberRealEstateLoansOrLines
1                             0                             6
2                             0                             0
3                             1                             0
4                             0                             0
5                             0                             1
6                             0                             1
7                             0                             3
8                             0                             0
9                             0                             0
10                            0                             4
11                            0                             0
12                            0                             2
13                            0                             2
14                            3                             1
15                            0                             1
16                            0                             1
17                            0                             2
18                            0                             0
19                            0                             1
20                            0                             0
21                            0                             2
22                            0                             1
23                            0                             0
24                            0                             0
25                            0                             1
26                            0                             3
27                            0                             1
28                            0                             0
29                            0                             0
...                         ...                           ...
149971                        0                             2
149972                        0                             0
149973                        0                             0
149974                        0                             1
149975                        0                             1
149976                        0                             2
149977                        0                             0
149978                        0                             0
149979                        0                             0
149980                        0                             0
149981                        0                             1
149982                        0                             0
149983                        0                             0
149984                        0                             0
149985                        0                             0
149986                        0                             0
149987                        0                             0
149988                        1                             0
149989                        0                             1
149990                        0                             0
149991                        0                             1
149992                        0                             2
149993                        0                             1
149994                        0                             0
149995                        0                             0
149996                        0                             1
149997                        0                             1
149998                        0                             1
149999                        0                             0
150000                        0                             2

                                          11                  12
0       NumberOfTime60-89DaysPastDueNotWorse  NumberOfDependents
1                                          0                   2
2                                          0                   1
3                                          0                   0
4                                          0                   0
5                                          0                   0
6                                          0                   1
7                                          0                   0
8                                          0                   0
9                                          0                  NA
10                                         0                   2
11                                         0                   0
12                                         0                   2
13                                         0                   2
14                                         1                   2
15                                         0                   0
16                                         0                   2
17                                         0                   0
18                                         0                   0
19                                         0                   2
20                                         0                   0
21                                         0                   0
22                                         0                   2
23                                         0                   0
24                                         0                   0
25                                         0                   0
26                                         0                   1
27                                         0                   0
28                                         0                   1
29                                         0                   0
...                                      ...                 ...
149971                                     0                   2
149972                                     0                   0
149973                                     0                   1
149974                                     0                   1
149975                                     0                   0
149976                                     0                   0
149977                                     0                   0
149978                                     0                   0
149979                                     0                   0
149980                                     0                   0
149981                                     0                   0
149982                                     0                   4
149983                                     0                   3
149984                                     0                   0
149985                                     0                   0
149986                                     0                   0
149987                                     0                   1
149988                                     0                   0
149989                                     0                   0
149990                                     0                   3
149991                                     0                   2
149992                                     0                   0
149993                                     0                   3
149994                                     0                   0
149995                                     0                   0

In [159]:
print (Header_G)

['PersonID', 'SeriousDlqin2yrs', 'RevolvingUtilizationOfUnsecuredLines', 'age', 'zipcode', 'NumberOfTime30-59DaysPastDueNotWorse', 'DebtRatio', 'MonthlyIncome', 'NumberOfOpenCreditLinesAndLoans', 'NumberOfTimes90DaysLate', 'NumberRealEstateLoansOrLines', 'NumberOfTime60-89DaysPastDueNotWorse', 'NumberOfDependents']

In [160]:
df = pd.read_csv("/Users/yzw/Desktop/ml/ps2/credit-data.csv")

In [161]:
df

,PersonID,SeriousDlqin2yrs,RevolvingUtilizationOfUnsecuredLines,age,zipcode,NumberOfTime30-59DaysPastDueNotWorse,DebtRatio,MonthlyIncome,NumberOfOpenCreditLinesAndLoans,NumberOfTimes90DaysLate,NumberRealEstateLoansOrLines,NumberOfTime60-89DaysPastDueNotWorse,NumberOfDependents
0,1,1,0.766127,45,60644,2,0.802982,9120.0,13,0,6,0,2.0
1,2,0,0.957151,40,60637,0,0.121876,2600.0,4,0,0,0,1.0
2,3,0,0.658180,38,60601,1,0.085113,3042.0,2,1,0,0,0.0
3,4,0,0.233810,30,60601,0,0.036050,3300.0,5,0,0,0,0.0
4,5,0,0.907239,49,60625,1,0.024926,63588.0,7,0,1,0,0.0
5,6,0,0.213179,74,60629,0,0.375607,3500.0,3,0,1,0,1.0
6,7,0,0.305682,57,60637,0,5710.000000,NaN,8,0,3,0,0.0
7,8,0,0.754464,39,60625,0,0.209940,3500.0,8,0,0,0,0.0
8,9,0,0.116951,27,60804,0,46.000000,NaN,2,0,0,0,NaN
9,10,0,0.189169,57,60629,0,0.606291,23684.0,9,0,4,0,2.0
10,11,0,0.644226,30,60637,0,0.309476,2500.0,5,0,0,0,0.0
11,12,0,0.018798,51,60804,0,0.531529,6501.0,7,0,2,0,2.0
12,13,0,0.010352,46,60644,0,0.298354,12454.0,13,0,2,0,2.0
13,14,1,0.964673,40,60804,3,0.382965,13700.0,9,3,1,1,2.0
14,15,0,0.019657,76,60657,0,477.000000,0.0,6,0,1,0,0.0
15,16,0,0.548458,64,60629,0,0.209892,11362.0,7,0,1,0,2.0
16,17,0,0.061086,78,60601,0,2058.000000,NaN,10,0,2,0,0.0
17,18,0,0.166284,53,60644,0,0.188274,8800.0,7,0,0,0,0.0
18,19,0,0.221813,43,60601,0,0.527888,3280.0,7,0,1,0,2.0
19,20,0,0.602794,25,60657,0,0.065868,333.0,2,0,0,0,0.0
20,21,0,0.200923,43,60625,0,0.430046,12300.0,10,0,2,0,0.0
21,22,1,0.025656,38,60629,0,0.475841,3000.0,7,0,1,0,2.0
22,23,0,1.000000,39,60601,0,0.241104,2500.0,4,0,0,0,0.0
23,24,0,0.075427,32,60629,0,0.085512,7916.0,6,0,0,0,0.0
24,25,0,0.046560,58,60657,0,0.241622,2416.0,9,0,1,0,0.0
25,26,1,0.392248,50,60618,0,1.595253,4676.0,14,0,3,0,1.0
26,27,0,0.052436,58,60601,0,0.097672,8333.0,22,0,1,0,0.0
27,28,0,0.034421,69,60644,0,0.042383,2500.0,17,0,0,0,1.0
28,29,0,0.452516,24,60657,0,0.011761,3400.0,1,0,0,0,0.0
29,30,0,0.392995,58,60625,2,0.436103,5500.0,15,0,1,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
149970,149971,0,0.025449,58,60625,0,0.253855,15500.0,7,0,2,0,2.0
149971,149972,0,0.058001,83,60637,0,0.013997,5000.0,6,0,0,0,0.0
149972,149973,0,0.071273,42,60644,0,0.008638,6945.0,3,0,0,0,1.0
149973,149974,0,1.026395,44,60618,0,0.494819,5500.0,7,0,1,0,1.0
149974,149975,0,0.962721,61,60804,2,0.603479,5000.0,11,0,1,0,0.0
149975,149976,0,0.022088,58,60618,0,2716.000000,NaN,8,0,2,0,0.0
149976,149977,0,0.000627,76,60637,0,60.000000,NaN,5,0,0,0,0.0
149977,149978,0,0.236450,29,60601,0,349.000000,NaN,3,0,0,0,0.0
149978,149979,0,0.917635,52,60625,2,0.259496,2500.0,4,0,0,0,0.0
149979,149980,1,0.224711,55,60804,0,0.057235,8700.0,7,0,0,0,0.0
149980,149981,0,0.067644,64,60657,0,0.254976,5525.0,12,0,1,0,0.0
149981,149982,0,0.810012,43,60601,0,0.121752,6849.0,4,0,0,0,4.0
149982,149983,0,0.021046,37,60804,0,0.250272,2760.0,8,0,0,0,3.0
149983,149984,0,0.002485,82,60629,0,0.000800,5000.0,5,0,0,0,0.0
149984,149985,0,0.037548,84,60629,0,25.000000,NaN,5,0,0,0,0.0
149985,149986,0,0.954409,26,60637,0,0.324962,1950.0,4,0,0,0,0.0
149986,149987,0,0.168102,49,60644,0,0.080384,5000.0,16,0,0,0,1.0
149987,149988,0,1.000000,28,60625,0,0.055692,3249.0,3,1,0,0,0.0
149988,149989,0,0.902051,31,60657,1,0.347924,7515.0,10,0,1,0,0.0
149989,149990,0,0.013356,62,60625,0,0.001408,9233.0,4,0,0,0,3.0
149990,149991,0,0.055518,46,60618,0,0.609779,4335.0,7,0,1,0,2.0
149991,149992,0,0.104112,59,60601,0,0.477658,10316.0,10,0,2,0,0.0
149992,149993,0,0.871976,50,60618,0,4132.000000,NaN,11,0,1,0,3.0
149993,149994,0,1.000000,22,60625,0,0.000000,820.0,1,0,0,0,0.0
149994,149995,0,0.385742,50,60625,0,0.404293,3400.0,7,0,0,0,0.0
149995,149996,0,0.040674,74,60637,0,0.225131,2100.0,4,0,1,0,0.0
149996,149997,0,0.299745,44,60625,0,0.716562,5584.0,4,0,1,0,2.0
149997,149998,0,0.246044,58,60625,0,3870.000000,NaN,18,0,1,0,0.0
149998,149999,0,0.000000,30,60625,0,0.000000,5716.0,4,0,0,0,0.0
149999,150000,0,0.850283,64,60657,0,0.249908,8158.0,8,0,2,0,0.0

In [162]:
type (df)

pandas.core.frame.DataFrame

In [163]:
pd.value_counts(df.NumberOfDependents).plot(kind='bar')

In [164]:
df.describe()

/Users/yzw/anaconda/lib/python3.5/site-packages/numpy/lib/function_base.py:3834: RuntimeWarning: Invalid value encountered in percentile
  RuntimeWarning)

,PersonID,SeriousDlqin2yrs,RevolvingUtilizationOfUnsecuredLines,age,zipcode,NumberOfTime30-59DaysPastDueNotWorse,DebtRatio,MonthlyIncome,NumberOfOpenCreditLinesAndLoans,NumberOfTimes90DaysLate,NumberRealEstateLoansOrLines,NumberOfTime60-89DaysPastDueNotWorse,NumberOfDependents
count,150000.000000,150000.000000,150000.000000,150000.000000,150000.000000,150000.000000,150000.000000,1.202690e+05,150000.000000,150000.000000,150000.000000,150000.000000,146076.000000
mean,75000.500000,0.066840,6.048438,52.295207,60648.810013,0.421033,353.005076,6.670221e+03,8.452760,0.265973,1.018240,0.240387,0.757222
std,43301.414527,0.249746,249.755371,14.771866,56.748197,4.192781,2037.818523,1.438467e+04,5.145951,4.169304,1.129771,4.155179,1.115086
min,1.000000,0.000000,0.000000,0.000000,60601.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000
25%,37500.750000,0.000000,0.029867,41.000000,60625.000000,0.000000,0.175074,NaN,5.000000,0.000000,0.000000,0.000000,NaN
50%,75000.500000,0.000000,0.154181,52.000000,60629.000000,0.000000,0.366508,NaN,8.000000,0.000000,1.000000,0.000000,NaN
75%,112500.250000,0.000000,0.559046,63.000000,60644.000000,0.000000,0.868254,NaN,11.000000,0.000000,2.000000,0.000000,NaN
max,150000.000000,1.000000,50708.000000,109.000000,60804.000000,98.000000,329664.000000,3.008750e+06,58.000000,98.000000,54.000000,98.000000,20.000000

In [165]:
df.dtypes

PersonID                                  int64
SeriousDlqin2yrs                          int64
RevolvingUtilizationOfUnsecuredLines    float64
age                                       int64
zipcode                                   int64
NumberOfTime30-59DaysPastDueNotWorse      int64
DebtRatio                               float64
MonthlyIncome                           float64
NumberOfOpenCreditLinesAndLoans           int64
NumberOfTimes90DaysLate                   int64
NumberRealEstateLoansOrLines              int64
NumberOfTime60-89DaysPastDueNotWorse      int64
NumberOfDependents                      float64
dtype: object

In [166]:
pd.crosstab(df.NumberOfTimes90DaysLate, df.SeriousDlqin2yrs)

SeriousDlqin2yrs              0     1
NumberOfTimes90DaysLate
0                        135108  6554
1                          3478  1765
2                           779   776
3                           282   385
4                            96   195
5                            48    83
6                            32    48
7                             7    31
8                             6    15
9                             5    14
10                            3     5
11                            2     3
12                            1     1
13                            2     2
14                            1     1
15                            2     0
17                            0     1
96                            1     4
98                          121   143

In [167]:
# %load https://gist.github.com/glamp/6529725/raw/e38ffd2fc4cb840be21098486ffe5df991946736/camel_to_snake.py
def camel_to_snake(column_name):
    """
    converts a string that is camelCase into snake_case
    Example:
        print camel_to_snake("javaLovesCamelCase")
        > java_loves_camel_case
    See Also:
        http://stackoverflow.com/questions/1175208/elegant-python-function-to-convert-camelcase-to-camel-case
    """
    s1 = re.sub('(.)([A-Z][a-z]+)', r'\1_\2', column_name)
    return re.sub('([a-z0-9])([A-Z])', r'\1_\2', s1).lower()

In [168]:
camel_to_snake("javaLovesCamelCase")

'java_loves_camel_case'

In [169]:
camel_to_snake("javaLovesCamelCase")

'java_loves_camel_case'

In [170]:
df.columns = [camel_to_snake(col) for col in df.columns]
df.columns.tolist()

['person_id',
 'serious_dlqin2yrs',
 'revolving_utilization_of_unsecured_lines',
 'age',
 'zipcode',
 'number_of_time30-59_days_past_due_not_worse',
 'debt_ratio',
 'monthly_income',
 'number_of_open_credit_lines_and_loans',
 'number_of_times90_days_late',
 'number_real_estate_loans_or_lines',
 'number_of_time60-89_days_past_due_not_worse',
 'number_of_dependents']

In [171]:
def print_null_freq(df):
    df_lng = pd.melt(df)
    null_variables = df_lng.value.isnull()
    return pd.crosstab(df_lng.variable, null_variables)
print_null_freq(df)

value                                         False  True
variable
age                                          150000      0
debt_ratio                                   150000      0
monthly_income                               120269  29731
number_of_dependents                         146076   3924
number_of_open_credit_lines_and_loans        150000      0
number_of_time30-59_days_past_due_not_worse  150000      0
number_of_time60-89_days_past_due_not_worse  150000      0
number_of_times90_days_late                  150000      0
number_real_estate_loans_or_lines            150000      0
person_id                                    150000      0
revolving_utilization_of_unsecured_lines     150000      0
serious_dlqin2yrs                            150000      0
zipcode                                      150000      0

In [172]:
df.number_of_dependents = df.number_of_dependents.fillna(df.number_of_dependents.mean())
# proof that the number_of_dependents no longer contains nulls
print_null_freq(df)

value                                         False  True
variable
age                                          150000      0
debt_ratio                                   150000      0
monthly_income                               120269  29731
number_of_dependents                         150000      0
number_of_open_credit_lines_and_loans        150000      0
number_of_time30-59_days_past_due_not_worse  150000      0
number_of_time60-89_days_past_due_not_worse  150000      0
number_of_times90_days_late                  150000      0
number_real_estate_loans_or_lines            150000      0
person_id                                    150000      0
revolving_utilization_of_unsecured_lines     150000      0
serious_dlqin2yrs                            150000      0
zipcode                                      150000      0

In [173]:
df.monthly_income = df.monthly_income.fillna(df.monthly_income.mean())
# proof that the number_of_dependents no longer contains nulls
print_null_freq(df)

value                                         False
variable
age                                          150000
debt_ratio                                   150000
monthly_income                               150000
number_of_dependents                         150000
number_of_open_credit_lines_and_loans        150000
number_of_time30-59_days_past_due_not_worse  150000
number_of_time60-89_days_past_due_not_worse  150000
number_of_times90_days_late                  150000
number_real_estate_loans_or_lines            150000
person_id                                    150000
revolving_utilization_of_unsecured_lines     150000
serious_dlqin2yrs                            150000
zipcode                                      150000

In [174]:
df.describe()

,person_id,serious_dlqin2yrs,revolving_utilization_of_unsecured_lines,age,zipcode,number_of_time30-59_days_past_due_not_worse,debt_ratio,monthly_income,number_of_open_credit_lines_and_loans,number_of_times90_days_late,number_real_estate_loans_or_lines,number_of_time60-89_days_past_due_not_worse,number_of_dependents
count,150000.000000,150000.000000,150000.000000,150000.000000,150000.000000,150000.000000,150000.000000,1.500000e+05,150000.000000,150000.000000,150000.000000,150000.000000,150000.000000
mean,75000.500000,0.066840,6.048438,52.295207,60648.810013,0.421033,353.005076,6.670221e+03,8.452760,0.265973,1.018240,0.240387,0.757222
std,43301.414527,0.249746,249.755371,14.771866,56.748197,4.192781,2037.818523,1.288045e+04,5.145951,4.169304,1.129771,4.155179,1.100404
min,1.000000,0.000000,0.000000,0.000000,60601.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000
25%,37500.750000,0.000000,0.029867,41.000000,60625.000000,0.000000,0.175074,3.903000e+03,5.000000,0.000000,0.000000,0.000000,0.000000
50%,75000.500000,0.000000,0.154181,52.000000,60629.000000,0.000000,0.366508,6.600000e+03,8.000000,0.000000,1.000000,0.000000,0.000000
75%,112500.250000,0.000000,0.559046,63.000000,60644.000000,0.000000,0.868254,7.400000e+03,11.000000,0.000000,2.000000,0.000000,1.000000
max,150000.000000,1.000000,50708.000000,109.000000,60804.000000,98.000000,329664.000000,3.008750e+06,58.000000,98.000000,54.000000,98.000000,20.000000

In [175]:
import pandas as pd
from sklearn.cross_validation import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn import tree
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier
from sklearn.metrics import roc_curve, auc, classification_report, confusion_matrix
from sklearn.svm import SVC

In [176]:
selected_features = np.array(['revolving_utilization_of_unsecured_lines', 'age', 'number_of_time30-59_days_past_due_not_worse',
            'debt_ratio', 'monthly_income','number_of_open_credit_lines_and_loans', 'number_of_times90_days_late',
            'number_real_estate_loans_or_lines','number_of_time60-89_days_past_due_not_worse', 'number_of_dependents'])
y = np.array('serious_dlqin2yrs')

In [177]:
def train_test(df, selected_features, portion):
    X = df[selected_features]
    y = df.serious_dlqin2yrs
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = portion, random_state = 42 )
    
    return (X_train, X_test, y_train, y_test)

In [178]:
def classifier(classifier_type, X_train, X_test, y_train):
    if classifer_type == "KNN":
        clf = KNeighborsClassifier(n_neighbors=15, metric='minkowski', weights='distance')
    elif classifier_type == "Logit":
        clf = LogisticRegression()
    elif classifier_type == "Tree":
         clf = tree.DecisionTreeClassifier()
    elif classifier_type == "GB":
         clf = GradientBoostingClassifier()
    else:
        raise ValueError('{c_type} not available'. format(c_type = classifier_type))
        
    clf.fit(X_train, y_train)
    yhat = clf.predict(X_test)
    probs = clf.predict_proba(X_test)
    
    return (yhat, probs)

In [179]:
from sklearn.metrics import precision_recall_curve
from sklearn.metrics import accuracy_score
from sklearn.metrics import f1_score
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score

NameError: name 'portion' is not defined

In [ ]:
def scores(metric_type, y_true, y_pred):
    if metric_type == "precision_recall_curve":
        precision, recall, thresholds = precision_recall_curve(y_true, y_scores)
    elif metric_type == "accuracy_score":
        accuracy_score(y_true, y_pred)
        accuracy_score(y_true, y_pred, normalize=False)
    elif metric_type == "f1_score":
        f1_score(y_true, y_pred, average='macro') 
        f1_score(y_true, y_pred, average='micro') 
        f1_score(y_true, y_pred, average='weighted') 
        f1_score(y_true, y_pred, average='None') 
    elif metric_type == "precision_score":    
        precision_score(y_true, y_pred, average='macro')
        precision_score(y_true, y_pred, average='micro')
        precision_score(y_true, y_pred, average='weighted')
        precision_score(y_true, y_pred, average='None')
    elif metric_type == "recall_score":  
        recall_score(y_true, y_pred, average='macro')  
        recall_score(y_true, y_pred, average='micro')  
        recall_score(y_true, y_pred, average='weighted')  
        recall_score(y_true, y_pred, average='None')  
        
    return (y_true, y_pred)